<!-- login.component.html -->
<div class="min-h-screen flex items-center justify-center bg-gray-100 mr-2 ml-2">
    <div class="max-w-md w-full p-6 bg-white shadow-lg rounded-lg">
        <div class="flex justify-center mb-4">
            <img class="w-24" src="../../assets/logo2.webp" alt="Logo">
        </div>
        <h1 class="text-2xl font-bold text-center mb-2 text-red-600">Agendamento feito com sucesso </h1>
        <p class="text-center text-gray-600 mb-6">O técnico entrará em contato antes de se deslocar até o local agendado.</p>
        <div class="w-full  flex justify-center">
            <button (click)="back()" class="bg-red-600  text-white font-bold py-2 px-4 w-10/12 rounded-xl">
                Voltar ao inicio
            </button>
        </div>
    </div>
</div>

